/*
    conecta um elemento HTML com o CSS

    ##TIPOS

    -> Global Selector *
    -> Element/Type Selector h1, h1, p, div
    -> ID Selector #box, #container
    -> Class Selector .red .m-4
    -> Attribute Selector, Pseudo-class, Pseudo-Element, e outros
    
*/

* {
    margin: 0;
}

h1,h2 {
    color: red;
    font-size: 60px;
    background: black;
}

h2 {
    color: white;
}

#container {
    width: 300px;
}

.m-40 {
    margin: 40px;
}